
/* css for nav bar */
.navbar{
    height: 12vh;
    background-color: lightslategray;
}


.cart{
    float: right;
    margin-top: -60px;
}

.search{
  text-align: center;
  padding-top: 7px;
}

.CardContainer{
    display:inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pagination{
    float: right;
    margin: 30px;
}

/* .filter{
    border: 2px solid grey;
    margin-right: 20px;
} */


@media screen and (max-width:480px){
    .search{
        float: left;
        padding-top: 7px;
      }

      .cart{
        float: right;
        margin-top: 0px;
    }
}




